
#controlContainer {
    grid-column-start: 4;
    grid-column-end: 6;


}


#ioControlGroup {

    border-style: outset;
    border-color: grey;
    border-width: thin;
    /* display: grid;
    grid-row-gap: 10px;
    grid-template-rows: repeat(5, 1fr);
    height: 85%;
    grid-row-start: 1;
    grid-row-end: 2;
     */
     background-color: rgb(217, 217, 217, .42);
}

.save-group{

    display: flex;

    flex-direction: row;

    height: 100%;


}

.save-radio{
    display: block;
}



#sketchControlGroup {
    height: 90%;

    display: flex;
    flex-direction: column;

}
#translateControl{
    display: flex;
    flex-direction: column;
    /* border-style: solid;
    border-width: thin; */

}
#drawControl{
    flex-direction: column;
    display: flex;
    /* border-style: solid;
    border-width: 2px; */

}
#stepOne{
    display: flex;
    /* border-bottom: 2px solid black; */
}
/*
height:30%;
height:70%;
height: 30%
height: 70%;
height: 100%;
height: 100%;
height: 100%;
height: 100%;
*/
#stepTwo{
    display: flex;
    flex-direction: column;
}

.guide-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border-bottom: 2px solid black; */
}
.guide-text{
    display: inline-block;
    text-align: center;
    width: 100%;

    padding: 10px;
}

.button-container{
    display: flex;
    flex-direction: row;
}

#templateHolder{
    display: flex;
    width: 100%;
}

#editControlHolder{
    display: flex;
    width: 100%;
    /* border-bottom: 2px dashed black; */

}

.control-button {
    display: flex;

    width:100%;

    padding: 10px;
    margin: 2px 2px 2px 2px;

    border-radius: 10px;
    border: thin solid black;

    background-color: rgb(217, 217, 217, .8);
}

.template-button {
    display: flex;

    padding: 10px;

    background-color: rgb(217, 217, 217, .42);
}
