#dataDisplayContainer {
    grid-column-start: 4;
    grid-column-end: 5;
}

table, thead, tbody {
    display: block;
    width: 100%;
    height: 90%;
    background-color: rgb(217, 217, 217, .7);
}

tr {
    cursor: default;
    height: auto;
    width: 100%;
    display: flex;
}

th, td {
    display: block;
    width: 25%;
    height: auto;
}

.highlight {
    background: yellow;
}
