#stateContainer{
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
}

.state{
    /* visibility: hidden; */
    padding-top: 20px;

    border-style: outset;
	border-color: rgb(176, 196, 222, .7);
	border-width: medium;
    border-radius: 40px;

    text-align: center;
    font-size: 1.5em;

    height: 6%;

    font-family: sans-serif;


    background-color: rgb(196, 196, 196, .42);

}

.active-state{
    /* visibility: visible; */
    background-color: skyblue;
}
