
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: flex;
	font-family: sans-serif;

}
ul.tabs li{
	background-color: rgb(219, 228, 240, .1);
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background-color: LightSteelBlue;
}

.tab-content{
	display: none;
	/* background: #ededed; */
	padding: 15px;
}

.tab-content.current{
	display: inherit;
	background-color: rgb(219, 228, 240, .1);
    /* height: 100%; */

	border-style: outset;
	border-color: rgb(176, 196, 222, .7);
	border-width: medium;

	font-family: sans-serif;

}
